{% extends 'bookly/base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %} 
{% block content %}
<h1>Resenhas</h1>
{% for review in reviews %}
<div class="card mt-2">
    <div class="card-header"><strong>@{{ review.user }}</strong></div>
    <div class="card-body">
        <div>
            <h5 class="card-title">{{ review.title }}</h5>
            <p>{{ review.review_text}}</p>
        </div>
        <div>
            {% if user == review.user or perms.bookly.delete_reviews %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="bnt btn-danger" name="review-id" value="{{ review.id }}">Excluir</button>
                </form>
            {% endif %}

            {% if user.is_staff %}
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning" name="user-id" value="{{ review.user.id }}">Banir Usuário</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="card-footer">{{ review.created_at }}</div>
</div>
{% empty %}
<p>Este livro não possui resenhas ainda :/</p> 
{% endfor %}
{% endblock %}
