* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h3 {
  color: rgb(66, 71, 81);
  margin-bottom: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.head-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

tbody td {
  color: rgb(107 114 128);
}

.book-link {
  opacity: 0.6;
  text-decoration: none;
}

.dropdown {
  border-radius: 5px;
  border: 1px solid rgb(107 114 128);
  width: 80px;
  height: 30px;
  padding: 5px;
}

input {
  border-radius: 5px;
  border: 1px solid rgb(107 114 128);
  width: 300px;
  height: 30px;
  padding: 5px;
}

table {
  width: 90%;
  margin: 0 5%;
  text-align: left;
  /* border-top: 1px solid rgb(107 114 128); */
  border-bottom: 1px solid rgb(107 114 128);
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
}
