{% extends 'bookly/index.html' %} 
{% load static %} 
{% block styles %}
<link rel="stylesheet" href="{% static 'bookly/css/books_list.css' %}" />
{% endblock %} 
{% block title %}Livros disponíveis{% endblock %} 
{% block content %}
<div class="main">
  <h3>Busque seu livro aqui!</h3>
  <div class="head-info">
    <form action="{% url 'bookly:books' %}" method="GET">
      <p>{{selectedOpt}}</p> 
      <select name="dropdown" class="dropdown">
        <option value="title" {% if selectedOpt == "title" %} selected {% endif %} class="opt title" id="title">Título</option>
        <option value="author" {% if selectedOpt == "author" %} selected {% endif %} class="opt author" id="author">Autor</option>
        <option value="genre" {% if selectedOpt == "genre" %} selected {% endif %} class="opt genre" id="genre" >Gênero</option>
      </select>
      {% csrf_token %}
      <input type="text" name="searched" placeholder="Buscar..." />
    </form>
  </div>
  <br />{% if books_list %}
  <table class="table table-hover">
    <tr class="table-header">
      <td><strong>Título</strong></td>
      <td><strong>Autor</strong></td>
      <td><strong>Gênero</strong></td>
      <td><strong>Ano de Publicação</strong></td>
      <td><strong>ISBN</strong></td>
    </tr>
    <tbody class="table-body">
      {% for book in books_list %}
      <tr>
        <td><a href="reviews/{{book.id}}" target="_blank" class="book-link" >{{book.title}}</a></td>
        <td>{{book.author}}</td>
        <td>{{book.genre}}</td>
        <td>{{book.pub_year}}</td>
        <td>{{book.isbn}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>Ainda não existem livros cadastrados...</p>
{% endif %} 
{% endblock %}
