* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

tbody td {
  /* 1. Animate the background-color
       from transparent to white on hover */
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s linear;
  transition-delay: 0.3s, 0s;
  /* 2. Animate the opacity on hover */
  opacity: 0.6;
}

td {
  /* 3. Scale the text using transform on hover */
  transform-origin: center left;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

/* Codepen styling */
* {
  box-sizing: border-box;
}

table {
  width: 90%;
  margin: 0 5%;
  text-align: left;
}
th,
td {
  padding: 0.5em;
}
